.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

div .transparent-box {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
}

div .transparent-box p {
  margin: 5%;
  font-family: monospace;
}

.home-page-text-box {
  padding-top: 10px;
  padding-bottom: 10px;
}
